In [42]:
from __future__ import absolute_import,division,print_function,unicode_literals

import numpy as np
import pandas as pd
#import matplotlib.pyplot as plt
from IPython.display import clear_output
#from six.moves import urllib

#import tensorflow.compat.v2.feature_column as fc

import tensorflow as tf

In [43]:
#train_path = tf.keras.utils.get_file("iris_training.csv")
#test_path = tf.keras.utils.get_file("iris_test.csv")

In [44]:
CSV_COLUMN_NAMES = ['SepalLength','SepalWidth','PetalLength','PetalWidth','species']
SPECIES = ['setosa', 'versicolor', 'virginica']

In [45]:
train = pd.read_csv("iris_training.csv",names=CSV_COLUMN_NAMES,header=0)
test = pd.read_csv("iris_test.csv",names=CSV_COLUMN_NAMES,header=0)

In [46]:
train.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  species
0          6.4         2.8          5.6         2.2        2
1          5.0         2.3          3.3         1.0        1
2          4.9         2.5          4.5         1.7        2
3          4.9         3.1          1.5         0.1        0
4          5.7         3.8          1.7         0.3        0

In [47]:
test.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth  species
0          5.9         3.0          4.2         1.5        1
1          6.9         3.1          5.4         2.1        2
2          5.1         3.3          1.7         0.5        0
3          6.0         3.4          4.5         1.6        1
4          5.5         2.5          4.0         1.3        1

In [48]:
train_y = train.pop("species")
test_y = test.pop("species")
train.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          6.4         2.8          5.6         2.2
1          5.0         2.3          3.3         1.0
2          4.9         2.5          4.5         1.7
3          4.9         3.1          1.5         0.1
4          5.7         3.8          1.7         0.3

In [49]:
train.shape

(120, 4)

In [50]:
def input_fn(features,labels,training = True, batch_size=256):
    #converts the input to a dataset
    dataset = tf.dataset.from_tensor_slices((dict(features),labels))

    #shuffles and repeats if you're in training mode.
    if training:
        dataset = dataset.shuffle(1000).repeat()
    return dataset.batch(batch_size)

Feature Column

In [ ]:
#feature columns describe how to use the inputs
my_feature_column = []
for key in train.keys():
    my_feature_column.append(tf.feature_column.numeric_column(key=key))
print(my_feature_column)

BUILDING MY MODEL